*{
	border:0;
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
#grilla {
    display: grid;
    grid-template-areas:
      "header"
      "publicidad"
      "footer";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: stretch;

 }
 .border {
    border: 1px solid black;
 }
 header {
    grid-area: header;
 }
 footer {
    grid-area: footer;
 }

 aside {
    grid-area: publicidad;
 }
 
 