$principal-color:#e8862a;
$font-family-principal:'DM Sans', sans-serif;
$blanco:#FFF;

nav{
    li {
        font-family: $font-family-principal;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        float: right;
        margin-top: 14px;
        margin-right: 30px;
        padding-right: 30px;
        line-height: 14px;
        a{
            text-decoration: none;
            color: inherit;
            font-size: 16px;
            :hover {
                color: green;
             }
        }
    }
} 

#menu ul {
         li {
	        font-family: $font-family-principal;
	        text-transform: uppercase;
	        font-weight: 700;
	        display: block;
	        float: right;
	        margin-top: 14px;
	        margin-right: 30px;
	        padding-right: 30px;
	        padding-top: 20px;
	        padding-bottom: 20px;
	        line-height: 14px;
            a {
              text-decoration: none;
              color: inherit;
              font-size: 16px;
              :hover {
                color: $principal-color;
            }
        }
    }
}

footer {
    .newsletter {
        padding-top: 70px;
        padding-bottom: 97px;
        background: $principal-color;
        color: $blanco;
        max-width: 100%;
        text-align: center;
        form {
            margin-bottom: 30px;
            input {
                width: 20%;
                margin: 0 5px 0 0;
                text-align: left;
                font-family: $font-family-principal;
                font-size: 17px;
                color: $blanco;
                letter-spacing: 2.42px;
                background-color: transparent;
                padding: 14px;
                border: 1px solid $blanco;
                [type="submit"] {
                    color: $principal-color;
                    background-color: $blanco;
                    border: 1px solid #D0021B;
                    text-align: center
                }
                
            }
            ::-webkit-input-placeholder {
                opacity: 1;
                color: $blanco;
            }
        }
        h3 {
            text-transform: uppercase;
            font-family: $font-family-principal;
            font-size: 16px;
            color: $blanco;
            letter-spacing: 2.77px;
            line-height: 43px;
            margin-bottom: 12px;
        }
        p {
            padding: 0 0 27px 0;
            font-family: $font-family-principal;
            font-size: 19px;
            color: $blanco;
            letter-spacing: 0.94px;
            line-height: 20px;
            .rs {
                font-size: 14px;
                letter-spacing: 0.69px;
                line-height: 20px;
                padding-top: 20px;
            }
        }
        ul {
            overflow: hidden;
            text-align: center;
            width: 100%;
        }
        li {
            width: 22%;
            display: inline-block;
            *display: inline;
            /*IE7*/
            *zoom: 1;
            /*IE7*/
            overflow: hidden;
            text-align: center;
            a:hover {
                opacity: .7;
            }
        }
    }
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(0);
	}
	15% {
		transform: translateX(-100%);
	}
	30% {
		transform: translateX(-100%);
	}
	35% {
		transform: translateX(-200%);
	}
	50% {
		transform: translateX(-200%);
	}
	55% {
		transform: translateX(-300%);
	}
	70% {
		transform: translateX(-300%);
	}
	75% {
		transform: translateX(-400%);
	}
	90% {
		transform: translateX(-400%);
	}
	95% {
		transform: translateX(-500%);
	}
	100% {
		transform: translateX(-500%);
	}
}
.cover {
	max-width: 1200px;
	margin: 0 auto;
    .slider {
        position: relative;
        .slides {
            position: relative;
            display: flex;
            overflow: hidden;
            .slide {
                width: 100vw;
                flex-shrink: 0;
                animation-name: slide;
                animation-duration: 20s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                display: block;
            }
            :hover{
                animation-play-state: paused;
            }
            img {
                width: 100%;
                vertical-align: top;
            }
            a {
                width: 100%;
                display: inline-block;
                position: relative;
            }
            .caption {
                color: white;
                text-shadow: 1px 1px black;
                font-size: 8vw;
                position: absolute;
                bottom: 8vw;
                right: 4vw;
            }
            :target {
                animation-name: none;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 50;
            }
        }
    }
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
    li {
        margin: 0 0.5rem;
        display: inline-block;
        vertical-align: top;
        a {
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
        }
    }
}
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    @media (min-width: #{map-get($breakpoints, $size)}) {
            @content;
        }
    }
}

.hidden-lg{
  @include breakpoint (xl){
    display: none !important;
  }
}
.slide {
    @include breakpoint (xl){
    width: 1200px;
    }
}

.labelTipoContenido {
    @include breakpoint (xl){
    padding-right: 0 !important;
    text-align: end;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.69px;
    line-height: 20px;
    }
}
.mayuscula{
    font-family: 'DM Sans', sans-serif;
	text-transform: uppercase;
}
nav li {
	@extend .mayuscula;
	font-weight: 700;
	display: block;
	float: right;
	margin-top: 14px;
	margin-right: 30px;
	padding-right: 30px;
	line-height: 14px;
}
#menu ul li {
	@extend .mayuscula;
	font-weight: 700;
	display: block;
	float: right;
	margin-top: 14px;
	margin-right: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 14px;
}
footer .newsletter h3 {
	@extend .mayuscula;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 2.77px;
	line-height: 43px;
	margin-bottom: 12px;
}
.item-receta .content h2 a {
    @extend .mayuscula;
	font-size: 15px;
	color: #1F1F1F;
	letter-spacing: 1.36px;
	line-height: 21.6px;
	float: left;
}

